:root {
  /* Gruvbox Dark Hard Theme */
  --bg0-hard: #1d2021;
  --fg: #ebdbb2;
  --gray: #928374;
  --yellow: #fabd2f;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: var(--bg0-hard);
  color: var(--fg);
  font-family: sans-serif;
  touch-action: none; /* Prevent browser handling of touch gestures */
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}
